@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(bg.png);
}

.container {
  position: relative;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;
  justify-content: space-between;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background-image: linear-gradient(to right, #141e30, #243b55);
  border-radius: 20px;
  transform-style: preserve-3d;
}

.container .box::before {
  content: "ZARA";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.container .box::after {
  content: "SHOES";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 900;
  font-size: 5em;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
  opacity: 0.3;
}

.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .name {
  top: 40%;
  opacity: 1;
}

.container .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.container .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transform: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}
.container .box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}


